.btn-success {
    margin-right: 10px;
}

.btn-ajouter {
    margin-bottom: 2%;
    margin-left: 90%;
}

.btn-danger {
    background-color: rgb(104, 17, 17);
}

.btn-primary {
    background-color: rgb(29, 89, 112);
    margin-right: 10px;
}

.mat-title {
    margin-left: 35%;
}

.btn-warning {
    background-color: cornsilk;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}