<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-lg-center">Gestion Maraudes</h1>
    </div>
</div>

<div class="mat-title">

    <button class="btn btn-success btn-ajouter" (click)="onCreateNewMaraudeClick()">{{'Nouveau' }}</button>
</div>

<mat-table class="table" [dataSource]="maraudesMatTable">


    <ng-container matColumnDef="{{displayedColumnsMaraudes[0]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader" mat-sort-header> {{ 'Maraude' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">
            <div *ngIf="maraude!=null">
                <div *ngIf="!maraude.isOnUpdate"> {{maraude.lieu ? maraude.lieu.lieuName : '' }} </div>
                <div *ngIf="maraude.isOnUpdate">
                    <select id="lieu" [(ngModel)]="maraude.lieu" name="lieu">
            <option *ngFor="let lieu of lieux" [ngValue]="lieu">{{ lieu.lieuName}}</option>
          </select>
                </div>
            </div>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="{{displayedColumnsMaraudes[1]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader"> {{ 'Participants' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">
            <div>

                <div *ngIf="!maraude.isOnUpdate"> {{maraude.participantMax}} </div>
                <input autofocus class="form-control w-120" type="number" *ngIf="maraude.isOnUpdate" [(ngModel)]="maraude.participantMax" required="true" placeholder="Participants max">
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayedColumnsMaraudes[2]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader"> {{ 'Date' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">
            <div>

                <div *ngIf="!maraude.isOnUpdate"> {{maraude.date}} </div>
                <input autofocus type="text" #datepickerMDY="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" *ngIf="maraude.isOnUpdate" [(ngModel)]="maraude.date" required="true" placeholder="Datepicker" class="form-control" bsDatepicker>


            </div>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="{{displayedColumnsMaraudes[3]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader"> {{ 'Duree' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">
            <div>

                <div *ngIf="!maraude.isOnUpdate"> {{maraude.duree}} </div>
                <input autofocus class="form-control w-120" type="text" *ngIf="maraude.isOnUpdate" [(ngModel)]="maraude.duree" required="true" placeholder="Date">
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayedColumnsMaraudes[4]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader"> {{ 'Commentaire' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">

            <div>
                <div *ngIf="!maraude.isOnUpdate"> {{maraude.commentaire}} </div>
                <input autofocus class="form-control w-120" type="text" *ngIf="maraude.isOnUpdate" [(ngModel)]="maraude.commentaire" required="true" placeholder="Commentaire">
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayedColumnsMaraudes[5]}}">
        <mat-header-cell *matHeaderCellDef class="titleTableHeader"> {{ 'Actions' }} </mat-header-cell>
        <mat-cell *matCellDef="let maraude">
            <div *ngIf="maraude!=null">
                <div class="twoButtonsDivContainer">
                    <button type="button" class="btn btn-success buttonMarginRight" (click)="onSaveButtonClick(maraude)" *ngIf="maraude.isOnUpdate">
            {{'Save'}}
          </button>
                    <button type="button" class="btn btn-warning" (click)="onCancelButtonClick(maraude)" *ngIf="maraude.isOnUpdate">
            {{'Cancel'}}
          </button>
                    <button type="button" class="btn btn-primary buttonMarginRight" (click)="onEditButtonClick(maraude)" *ngIf="!maraude.isOnUpdate">
            {{'Editer'}}
          </button>

                    <button type="button" class="btn btn-danger" (click)="onDeleteButtonClick(maraude)" *ngIf="!maraude.isOnUpdate">
            {{'Delete'}}
          </button>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsMaraudes"></mat-header-row>
    <mat-row *matRowDef="let maraude; columns: displayedColumnsMaraudes;"></mat-row>
</mat-table>