<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="navbar-header">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/img/logo-main-tendue-5.png" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars fa-1x"></i></span>
  </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item px-3">
        <a class="nav-link rounded" routerLink="#" routerLinkActive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">UTILISATEURS</a>
        <div class="nav-item dropdown px-3">
          <div class="dropdown-menu" aria-labelledby="manageDropdown">
            <a class="nav-link dropdown-item rounded" routerLink="/users" routerLinkActive="active">GESTION DES UTILISATEURS</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link dropdown-item rounded" routerLink="/role" routerLinkActive="active">GESTION DES ROLES</a>
          </div>
        </div>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link rounded" routerLink="#" routerLinkActive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MARAUDES</a>
        <div class="nav-item dropdown px-3">
          <div class="dropdown-menu" aria-labelledby="manageDropdown">
            <a class="nav-link dropdown-item rounded" routerLink="/maraudes" routerLinkActive="active">GESTION DES MARAUDES</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link dropdown-item rounded" routerLink="/lieu" routerLinkActive="active">GESTION DES LIEUX</a>
          </div>
        </div>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link rounded" id="navcolor8" routerLink="#" routerLinkActive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BESOINS</a>
        <div class="nav-item dropdown px-3">
          <div class="dropdown-menu" aria-labelledby="manageDropdown">
            <a class="nav-link dropdown-item rounded" id="navcolor10" routerLink="/besoins">GESTION DES BESOINS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link rounded" id="navcolor5" routerLink="/services" routerLinkActive="active">SERVICES</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link dropdown-item rounded" id="navcolor9" routerLink="/typeBesoins" routerLinkActive="active">TYPE BESOIN</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link dropdown-item rounded" id="navcolor3" routerLink="/vetements" routerLinkActive="active">VETEMENTS</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link dropdown-item rounded" id="navcolor2" routerLink="/alimentaire" routerLinkActive="active">ALIMENTS</a>
          </div>
        </div>
      </li>
      <li class="nav-item px-3">
      <a class="nav-link rounded" routerLink="#" routerLinkActive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PARTICIPANTS</a>
      <div class="nav-item dropdown px-3">
        <div class="dropdown-menu" aria-labelledby="manageDropdown">
          <a class="nav-link dropdown-item rounded" routerLink="/participantMaraude" routerLinkActive="active">PARTICIPANTS MARAUDES</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link dropdown-item rounded" routerLink="/participantBesoin" routerLinkActive="active">PARTICIPANTS BESOINS</a>
        </div>
      </div>
      <li class="nav-item px-3">
        <a class="nav-link rounded" routerLink="/mentionslegales" routerLinkActive="active">MENTIONS LEGALES</a>
      </li>
      <li class="nav-item px-3">
        <button type="button" class="btn btn-link" style="cursor: pointer;" (click)="logoutUser()">Se déconnecter</button>
      </li>
    </ul>
  </div>
  </div>
</nav>
