.arriere-plan-MT {
  background-color: #e9ecef;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
}

.jumbotron {
  // background-image: url('/assets/img/loginpage.jpg');
  color: green;
  margin-top: 2%;
}
