.btn-success {
  //background-color: #84bd00;
  margin-right: 10px;
  /* width: 80px;
  height: 30px;*/
}

.btn-ajouter {
  margin-bottom: 2%;
  margin-left: 90%;
}

.btn-danger {
  background-color: rgb(104, 17, 17);
  /*width: 80px;
  height: 30px;*/
}

.btn-primary {
  background-color: rgb(29, 89, 112);
  margin-right: 10px;
  /* width: 80px;
  height: 30px;*/
}

.mat-title {
  margin-left: 35%;
}

.btn-warning {
  background-color: cornsilk;
  /*width: 80px;
  height: 30px;*/
}

.listeUsers {
  // margin: 5%;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:second-child {
  border-right: 1px solid #e0e0e0;
}

.jumbotron {
  // background-image: url('/assets/img/loginpage.jpg');
  color: green;
  margin-top: 2%;
}
