.container{
  background: aqua;
  min-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 1000px;

}

a {
  color: dimgray;
  text-decoration: none;
}

li {
  display: inline;
  min-height: 40px;
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
}

.nav-item .active{
  background-color: beige;
  width: 80px;
  height: 40px;
  padding: 15px;
}

.float-right{
  float: right;
}
.mat-title {
  margin-left: 45%;
}
