.mat-body{
  max-width: 80%;
  margin-left: 10%;
  background-image: src='assets/img/mnt.png';
}

a {
  color: dimgray;
  text-decoration: none;
}

li {
  display: inline;
  min-height: 40px;
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
}

.nav-item .active{
  background-color: beige;
  width: 80px;
  height: 40px;
  padding: 15px;
}

.float-right{
  float: right;
}
