/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.table {}

.titleTableHeader {}

.mat-header-row {
    background-color: rgb(50, 223, 208);
    color: rgb(20, 16, 16);
    font-size: 20px;
    vertical-align: middle;
    border: thin;
}


/*#container {
    padding-top: 20rem;
    background: url('/assets/img/loginpage.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 200%;
    margin: 0;
}*/


/*body,
html {
    padding-top: 20rem;
    background: url('/assets/img/loginpage.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}*/


/*body,
html {
    padding: 0;
    background: url('/assets/img/loginpage.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}*/