/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.table {
}

.titleTableHeader {
}

.mat-header-row {
  background-color: rgb(50, 223, 208);
  color: rgb(20, 16, 16);
  font-size: 20px;
  vertical-align: middle;
  border: thin;
}

.mat-header-cell {
  color: black;
  font-size: medium;
}


body{
  background: url("assets/img/bg.jpg");
  background-size: cover;
}
#particles-js {
  height: 100vh;
  //justify-content: center;
  //
  //position: absolute;
  display: block;
  //justify-content: center;
  //padding-left: 5%;
  //padding-right: 5% ;
  top: 0;
  backgrosund-size: cover;
  //z-index: 0;
}
